<h1>States Index List</h1>

<% @states.each do |state| %>

  <h2><%= state.name %></h2>
  <ul>
    <li>Region of Country: <%= state.region %></li>
    <li><%= state.name %> has a military discount for camping: <%= state.military_discount %></li>
  </ul>
<% end %>
