<h1>Album Show Page</h1>

<p>Album Name:<%= @album.name%><p>
<p>Number or Tracks<%= @album.number_of_songs%><p>
<p>Nominated:<%= @album.nominated%></p>

<p><%= button_to 'Edit Album', "/albums/#{@album.id}/edit", method: :get %></p>
